//Colors
$primary-color: #d4b254;
$dark-primary-color: #c8a74b;
$title-text-color: #222222;
$white: #fff;
$body-text-color: #777777;
$light-grey: #eeeeee;

//Fonts
$font-main: "Roboto", sans-serif;
$font-title: "Helvetica", "Arial", sans-serif;


//Spacing
$spaced-letters: 3px;

