@use "../../styles/variables" as vars;
@use "../../styles/mixin" as *;

.header {
  letter-spacing: vars.$spaced-letters;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding: 40px 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 10;
  left: 18%;

  .desktop-nav,
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }
  .left-nav,
  .right-nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .logo-link {
    margin: 0 80px;
  }

  a {
    text-decoration: none;
    color: vars.$white;
    font-size: 13px;
  }
  button.outline {
    font-size: 13px;
    svg {
      margin-left: 12px;
    }
    &:hover {
      svg {
        stroke: vars.$title-text-color;
        fill: white;
      }
    }
  }

  .hamburger {
    width: 30px;
    height: 30px;
  }

  @include respond-to(desktop) {
    .mobile-nav {
      display: none;
    }
  }

  @include respond-to(tablet) {
    width: 100%;
    left: 0;
    padding: 20px;
    button.outline {
      font-size: 13px;
      svg {
        margin-left: 0;
      }
    }
    .desktop-nav {
      display: none;
    }
    .logo-link {
      margin: 0;
    }
  }

  @include respond-to(mobile) {
    width: 100%;
    left: 0;
    padding: 10px;
    .logo-link {
      margin: 0px;
      img {
        width: 60px;
      }
    }
    button.outline {
      svg {
        margin-left: 0;
      }
    }
    .desktop-nav {
      display: none;
    }
    .mobile-nav {
      button {
        padding: 10px 15px;
      }
    }
  }
}
